<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%=titulo%></title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
<body>
    <%-include("../../partials/header-admin")%>
    <main class="container login" id="login">
        <h2 class="login-title">INGRESAR A MI CUENTA</h2>
        <form class="login-form form" action="">
            <div class="login-form-row">
                <label class="form-label" for="email">Email:</label>
                <input class="form-input" type="email" name="email" id="email" placeholder="johndoe@email.com" required>
            </div>
            <div class="login-form-row">
                <label class="form-label" for="password">Contraseña:</label>
                <input class="form-input" type="password" name="password" id="password" placeholder="●●●●●●●●●●●" required>
            </div>
            <div class="form-submit">
                <input class="form-btn btn" type="submit" value="Ingresar">
                <div class="form-remember">
                    <input type="checkbox" name="remember" id="">
                    <label for="">Recordarme</label>
                </div>
            </div>
            <a class="form-link" href="">Olvide mi contraseña</a>
        </form>
    </main>
    <%-include("../../partials/footer")   %>
</body>
</html>