<footer class="footer">
    <nav class="navbar container">
        <ul class="menu-item-navbar">
            <li class="menu-item-navbar"><a class="menu-link-navbar" href="/pages/shop.html">SHOP</a></li>
            <!-- <li class="menu-item-navbar"><a class="menu-link-navbar" href="/pages/register.html">REGISTRARSE</a></li> -->
            <li class="menu-item-navbar"><a class="menu-link-navbar" href="/pages/login.html">INGRESAR</a></li>
            <li class="menu-item-navbar"><a class="menu-link-navbar" href="">CONTACTO</a></li>
        </ul>
        <img src="/assets/img/SvgjsG8619.svg" alt="marca Funkoshop">
    </nav>
    <p>All rights reserved 2023 - Funkoshop ©</p>
</footer>