<header class="container-header">
    <nav class="navbar container">
        <a class="logo-navbar" href="/">
            <img src="/assets/img/logo_light_horizontal.svg" alt="marca Funkoshop">
        </a>
        <ul class="menu-navbar">
            <li class="menu-item-navbar item-submenu">
                <a class="menu-link-navbar menu-item-icon" href="/pages/shop.html">SHOP
                    <iconify-icon icon="tabler:chevron-down" style="color: white;"></iconify-icon></a>
                <ul class="submenu-navbar">
                    <li class="submenu-item-navbar">
                        <a href="" class="submenu-link-navbar">Funkos</a>
                    </li>
                    <li class="submenu-item-navbar">
                        <a href="" class="submenu-link-navbar">Remeras</a>
                    </li>
                    <li class="submenu-item-navbar">
                        <a href="" class="submenu-link-navbar">LLaveros</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item-navbar">
                <a class="menu-link-navbar">CONTACTO</a>
            </li>
            <li class="menu-item-navbar">
                <a class="menu-link-navbar" href="/pages/login.html">LOGIN</a>
            </li>
            <li class="menu-item-navbar">
                <a href="/pages/carrito.html">
                    <img src="/assets/img/cart-icon.png" alt="ícono carrito">
                </a>
            </li>
        </ul>
    </nav>
</header>