<header class="container-header">
    <nav class="navbar container">
        <a class="logo-navbar" href="/">
            <img src="/assets/img/logo_light_horizontal.svg" alt="Marca Funkoshop">
        </a>
        <ul class="menu-navbar">
            <li class="menu-item-navbar">
                <a class="menu-link-navbar" href="/shop">VER TIENDA</a>
            </li>
            <li class="menu-item-navbar">
                <a class="menu-link-navbar" href="/admin">ADMIN</a>
            </li>
            <li class="menu-item-navbar">
                <a class="menu-link-navbar" href="">SALIR</a>
            </li>
        </ul>
    </nav>
</header>