<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%=titulo%></title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
<body>
    <%-include("../../partials/header-admin")%>
    <main class="container">
        <section id="create">
            <div>
                <h2 class="form-title">CREAR NUEVO ITEM</h2>
            </div>
            <form action="" class="container-form">
                <div class="form-box-grid">
                    <div class="form-box-flex">
                        <label class="form-label" for="categoria">Categoria:</label>
                        <select class="form-select" name="categoria" id="categoria" required>
                            <option value="" disabled selected>Seleccionar</option>
                            <option value="">STAR WARS</option>
                            <option value="">POKEMON</option>
                            <option value="">HARRY POTTER</option>
                        </select>
                    </div>
                    <div class="form-box-flex">
                        <label class="form-label" for="licencia">Licencia:</label>
                        <select class="form-select" name="licencia" id="licencia" required>
                            <option value="" disabled selected>Seleccionar</option>
                            <option value="">Con Licencia</option>
                            <option value="">Sin Licencia</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label class="form-label" for="nameproducto">Nombre del producto:</label>
                    <input class="form-input" type="text" name="nameproducto" id="nameproducto" placeholder="Kakashi Hatake Shippuden Saga" required>
                </div>
                <div>
                    <textarea name="" id="" cols="30" rows="10" placeholder="Descripción del producto"></textarea>
                </div>
                <div class="form-box-grid">
                    <div class="form-flex">
                        <label class="form-label" for="sku">SKU:</label>
                        <input class="form-input" type="text" name="sku" id="sku" placeholder="SSK111AB001" required>
                    </div>
                    <div class="form-flex">
                        <label class="form-label" for="precio">Precio:</label>
                        <input class="form-input" type="text" name="precio" id="precio" placeholder="$ 0.000,00" required>
                    </div>
                    <div class="form-flex">
                        <label class="form-label" for="stock">Stock:</label>
                        <input class="form-input" type="text" name="stock" id="stock" placeholder="0" required>
                    </div>
                </div>
                <div class="form-box-grid">
                    <div class="form-flex">
                        <label class="form-label" for="descuento">Descuento:</label>
                        <input class="form-input" type="text" name="descuento" id="descuento" placeholder="0%" required>
                    </div>
                    <div class="form-flex">
                        <label class="form-label" for="">Cuotas:</label>
                        <select class="form-select" name="" id="" placeholder="3 Cuotas sin interés" required>
                            <option value="">3 Cuotas sin interés</option>
                            <option value="">6 Cuotas con interés</option>
                        </select>
                    </div>
                </div>
                <div class="form-box-grid">
                    <label class="form-label" for="file">Imágenes:</label>
                    <input class="form-input-file" type="file" name="file" id="file">
                </div>
                <div class="form-box-grid-btn">
                    <button class="form-btn btn" type="submit">Agregar producto</button>
                    <button class="form-btn btn" type="reset">Limpiar</button>
                </div>
            </form>
        </section>
    </main>
    <%-include("../../partials/footer")   %>
</body>
</html>